.details {
    width: 350px;
    height: auto;
    background-color: var(--clr-white);
    padding: 2.5rem;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.title {
    text-transform: uppercase;
    font-family: var(--font-primary);
    font-weight: 500;
    letter-spacing: 4px;
    font-size: 0.8rem;
    color: var(--clr-grey);
}

.details__title {
    font-family: var(--font-secondary);
    max-width: 10ch;
    font-size: 2.2rem;
    margin: 15px 0;
    letter-spacing: -1px;
}

.details__description {
    font-family: var(--font-primary);
    color: var(--clr-grey);
    max-width: 65ch;
    margin-bottom: 1rem;
    font-weight: 500;
}

.details-price {
    color: var(--clr-green500);
    font-size: 2.2rem;
    font-weight: 700;
    font-family: var(--font-secondary);
}

.details-price span {
    color: var(--clr-grey);
    font-size: 0.9rem;
    font-weight: 500;
    text-decoration: line-through;
    margin-left: 8px;
    vertical-align: super;
}

.details__btn {
    background-color: var(--clr-green500);
    color: var(--clr-white);
    padding: 1em;
    width: 100%;
    margin: 2rem 0;
    border-radius: 10px;
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 0.9rem;
    cursor: pointer;
}

.details__btn-cart {
    height: 1rem;
    margin-left: 0.5rem;
    vertical-align: middle;
}

.details__btn:hover {
    background-color: var(--clr-green700);
    transform: translateY(5px);
}

@media (max-width: 428px) {
    .details {
        height: auto;
        padding: 2rem;
        border-top-right-radius: 0;
        border-bottom-left-radius: 15px;
    }

    .details__title {
        font-size: 2rem;
        max-width: 20ch;
    }

    .details-price {
        font-size: 2rem;
    }
}

@media (max-width: 375px) {
    .title {
        font-size: 0.7rem;
    }

    .details__title {
        font-size: 1.8rem;
        max-width: 20ch;
    }

    .details__description {
        font-size: 0.8rem;
        max-width: 30ch;
    }

    .details-price {
        font-size: 1.8rem;
    }

    .details-price span {
        font-size: 0.8rem;
    }

    .details__btn {
        font-size: 0.8rem;
        margin: 1rem 0;
    }
}