body {
    background-color: var(--clr-cream);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.btn {
    border: none;
    background: none;
    cursor: pointer;
}

.wrapper {
    /* border: 2px solid red; */
    display: flex;
}